:host {
  display: block;
  padding: 16px;
}

mat-card {
  width: 100%;
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

.bg-green-100 {
  background: #b1b;
  color: #000;
}

.bg-yellow-100 {
  background: #b1b;
  color: #000;
}

.bg-red-100 {
  background: #b1b;
  color: #000;
}
