<div class="bg-white shadow rounded-lg p-6">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-semibold text-gray-900">Expense Approvals</h2>
    <div>
        <select
                [(ngModel)]="statusFilter" (ngModelChange)="getReports()"
                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
                <option *ngFor="let type of statusOptions" [value]="type.value">
                  {{ type.label }}
                </option>
              </select>
    </div>
  </div>

  <div *ngIf="!isLoading" class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">User</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Details</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let report of submittedReports">
          <td class="px-6 py-4 whitespace-nowrap">
            {{report.expense_report.user_name | titlecase}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{report.expense_report.from_report_date | date}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            ₹{{report.expense_report.latest_total_amount}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium" 
                  [ngClass]="{
                    'bg-green-100 text-green-800': report.status === 'APPROVED',
                    'bg-red-100 text-red-800': report.status === 'REJECTED',
                    'bg-blue-100 text-blue-800': report.status === 'SUBMITTED'
                  }">
              {{ report.status |removeUnderscore:'_' }}
            </span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <!-- <button *ngIf="report.expense_report.is_edit_enabled" (click)="editReportDetails(report)"
                    class="mr-5 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              Edit Report
            </button> -->
            <button (click)="viewReportDetails(report)"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              View Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-5" >
    <app-loader [show]="isLoading"></app-loader>
  </div>

  <div *ngIf="!isLoading" class="mt-6 text-center">
    <div class="mt-6 text-center" *ngIf="submittedReports.length === 0">
    <p class="text-gray-500">No submitted expense reports found.</p>
  </div>
    <div *ngIf="selectedReport" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="top-20 ml-auto h-screen w-6/12 p-5 flex flex-col border shadow-lg rounded-md bg-white">
      <div class="flex justify-between items-center pb-3">
        <h3 class="text-2xl font-bold">Expense Details</h3>
        <button (click)="closeDetails()" class="text-black hover:text-gray-500">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 overflow-y-auto">
         <ng-container *ngIf="!getExpenseItems" >
        <app-loader [show]="!getExpenseItems"></app-loader>
      </ng-container>
      <ng-container *ngIf="getExpenseItems">
        <div class="my-2">
        <div class="flex mb-2">
          <span class="text-gray-600 mr-1">User:</span>
          <span>{{selectedReport.expense_report.user.name }}</span>
        </div>
        <div class="flex mb-2">
          <span class="text-gray-600 mr-1">Date:</span>
          <span>{{selectedReport.expense_report.from_report_date | date : 'dd MMM, yyyy'}}</span>
        </div>
        <div class="flex mb-2">
          <span class="text-gray-600 mr-1">Total Amount:</span>
          <span>₹{{selectedReport.expense_report.latest_total_amount}}</span>
        </div>
        <div class="flex mb-2">
          <span class="text-gray-600 mr-1">Status:</span>
          <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium" [ngClass]="{
            'bg-green-100 text-green-600': selectedReport.status === 'APPROVED',
            'bg-yellow-200 text-yellow-600': selectedReport.status === 'PENDING',
            'bg-red-100 text-red-600': selectedReport.status === 'REJECTED',
            'bg-blue-100 text-blue-600': selectedReport.status === 'SUBMITTED'
          }">
            {{selectedReport.expense_report.status}}
          </span>
        </div>
        </div>

        <div class="mt-4">
            <h4 class="font-semibold mb-2">Expense Items</h4>
            <div class="space-y-2">
                <table class="w-full" >
                    <thead class="bg-gray-50">
                    <tr>
                    <th class="pr-[1.5em] py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Expense Type</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Reciepts</th>
                </tr>
                </thead> 
                <tr *ngFor="let item of selectedReport.expense_report.expenses;let i = index ">
                    <td class="flex pr-[1.5em] py-4 text-[#afafaf] whitespace-nowrap">
                        {{item.expense_type.name || 'Unknown'}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        
                        <span class="flex items-center" >
                          ₹ &nbsp;
                            <ng-container *ngIf="selectedReport.expense_report.status == 'APPROVED'">
                                {{item.latest_amount}}
                            </ng-container> 
                            <input class="input-custom p-2 w-[6.5em]" size="auto" *ngIf="selectedReport.expense_report.status != 'APPROVED'" type="number" [(ngModel)]="item.latest_amount" >
                            <div *ngIf="item.history.length>0" class="relative flex items-center ">
                              <mat-icon (mouseenter)="hoveredIndex = i" (mouseleave)="hoveredIndex = -1" >info</mat-icon>
                              <div *ngIf="hoveredIndex === i" class="absolute left-1/2 transform -translate-x-1/2 mt-2 z-10 w-54 p-2 bg-white border border-gray-300 shadow-lg rounded text-sm">
                                  <div class="flex justify-center" ><strong>History</strong></div>
                                  <div>Raised Amount - {{ item.amount }} </div>
                                  <div *ngFor="let data of item.history">
                                    <div class="bg-blue-200 rounded-lg p-2 mt-2">
                                        <div>L{{data.approval_level}}</div>
                                        <div>
                                          Previous - {{ data.previous_amount }}
                                          <br>
                                          Latest - {{ data.new_amount }}
                                          <br>
                                          Changed by - {{data.user.first_name}} | {{data.user.role?.name}}
                                        </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap" >
                        <mat-icon *ngIf="item.receipt_file" (click)="openWindow(item.receipt_file)" >open_in_new</mat-icon>
                    </td>
                </tr>
                </table>
                
            <!-- <div *ngFor="let item of selectedReport.expense_report.expenses" class="flex justify-between border-b pb-2">
                <div>
                <div class="font-medium">{{item.description}}</div>
                <div class="text-sm text-gray-600">{{item.expense_type.name || 'Unknown'}}</div>
                <div class="text-sm text-gray-600">₹{{item.amount}}</div>
                </div>
            </div> -->
            </div>
        </div>
        
      </ng-container>
      </div>
      <div *ngIf="getExpenseItems" class="sticky bottom-0 bg-white pt-4 pb-2 mt-4 flex justify-end border-t">
            <div *ngIf="selectedReport.status != 'APPROVED'">
                <button (click)="rejectReport()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 mr-8">
                    Reject
                </button>
                <button (click)="acceptReport()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" >
                    Accept
                </button>
            </div>
        </div>
     
      
    </div>
    </div>
  </div>


  

  <!-- Details Modal -->
  
</div>
